<div class="mt-3">
	{{ form_start(search_form) }}
		<div class="row">
			<div class="col-md-3">
				{{ form_row(search_form.q) }}
			</div>
			<div class="col-md-3">
				{{ form_row(search_form.min_price) }}
			</div>
			<div class="col-md-3">
				{{ form_row(search_form.max_price) }}
			</div>
			<div class="col-md-3">
				<button class="btn btn-primary">Rechercher</button>
			</div>		
		</div>
		<div class="row">
			<div class="col-md-3">
				<h4 class="text-primary">Categories</h4>
				{{ form_row(search_form.categories, {'attr': {'class': 'd-inline'}}) }}
			</div>
			<div class="col-md-3">
				<h4 class="text-primary">En promotion</h4>
				{{ form_row(search_form.promo) }}
			</div>
		</div>
	{{ form_end(search_form) }}
</div>